@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --bg-color: #184e77;
  --fg-color: #1a759f;
  --dark-green: #34a0a4;
  --secondery: #52b69a;
  --primary: #76c893;
  --danger: #d98d8d;
}

body {
  /* spacing and sizing */
  display: flex;
  height: 100vh;
  /* font-settings */
  font-family: "open sans";
  font-weight: bold;
  /* colorings */
  background-color: var(--bg-color);
}
#login-bg {
  /* spacing and sizing */
  width: 412px;
  height: 515px;
  margin: auto;
  /* shadow */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  /* colorings */
  background-color: var(--fg-color);
}
.submit-login {
  /* spacing and sizing */
  display: block;
  width: 252px;
  margin: auto;
  height: 76px;
  /* shadow */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;
  /* font-settings */
  color: white;
  font-size: 2.6em;
  text-transform: uppercase;
  /* coloring */
  background: var(--secondery);
}
.submit-login:active {
  box-shadow: none;
  background-color: var(--primary);
}
.login-input {
  /* spacing and sizing */
  display: block;
  margin: auto auto 30px auto;
  width: 212px;
  padding: 10px 20px;
  /* border settings */
  border-radius: 15px;
  border: none;
  /* font-settings */
  font-size: 1.6em;
  color: white;
  /* coloring */
  background: var(--dark-green);
}

.login-input::placeholder {
  color: white;
  opacity: 0.9;
}

#credentials {
  display: block;
  margin: 113px auto 118px auto;
  width: 100%;
}
.login-input:focus {
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secondery);
}
